<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.fitguardians.gym.model.vo.Gym" alias="Gym"/>
		<typeAlias alias="Member" type="com.kh.fitguardians.member.model.vo.Member"/>
		<typeAlias type="com.kh.fitguardians.chat.model.vo.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.kh.fitguardians.chat.model.vo.Message" alias="Message"/>
		<typeAlias alias="Exercise" type="com.kh.fitguardians.exercise.model.vo.ExercisePlan"/>
		<typeAlias alias="Workout" type="com.kh.fitguardians.exercise.model.vo.Workout"/>
		<typeAlias alias="Schedule" type="com.kh.fitguardians.exercise.model.vo.Schedule"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/gym-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/exercise-mapper.xml"/>

	</mappers>

</configuration>