body {
    font-family: "Montserrat", sans-serif;
    background: white;
}

.topLogoContainer {
    display: block;
    margin: 40px auto 0;
    /* margin: auto; */
    width: 540px;
    height: 250px;
}
.topLogoContainer img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 540px;
    height: 250px;
    transform: translate(50, 50);
    object-fit: cover;
    margin: auto;
}

.container {
    display: block;
    max-width: 680px;
    width: 80%;
    margin: 40px auto;
}

h1 {
    color: #4285F4;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    margin: 40px 0 80px;
    transition: 0.2s linear;
}

.links {
    list-style-type: none;
}
.links li {
    display: inline-block;
    margin: 0 20px 0 0;
    transition: 0.2s linear;
}
/* 회원가입 버튼 활성화시 로그인 버튼 비활성화 */
.links li:nth-child(1) {
    opacity: 0.6;
}
.links li:nth-child(1):hover {
    opacity: 1;
}
.links li:nth-child(3) {
    opacity: 0.6;
    float: right;
}
.links li:nth-child(3):hover {
    opacity: 1;
}
.links li a {
    text-decoration: none;
    color: #0f132a;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

form {
    width: 100%;
    max-width: 680px;
    margin: 40px auto 10px;
}
form .input__block {
    margin: 20px auto;
    display: block;
    position: relative;
}

form .input__block input {
    display: block;
    width: 90%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.3);
    padding: 0 0 0 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
form .input__block input:active,
form .input__block input:focus {
    outline: none;
    border: none;
    color: #0f132a;
}
form .input__block input.repeat__password {
    transition: 0.2s linear;
}
form .signin__btn {
    background: #4285F4;
    color: white;
    display: block;
    width: 92.5%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 3px 10px rgba(30, 118, 233, 0.36);
    transition: 0.2s linear;
}

form .signin__btn:hover {
    box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.separator {
    display: block;
    margin: 30px auto 10px;
    text-align: center;
    height: 40px;
    position: relative;
    background: transparent;
    color: rgba(15, 19, 42, 0.4);
    font-size: 13px;
    width: 90%;
    max-width: 680px;
}
.separator::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}
.separator::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}

.github__btn,
.google__btn {
    display: block;
    width: 90%;
    max-width: 680px;
    margin: 20px auto;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    border: none;
    line-height: 40px;
}
.github__btn.google__btn,
.google__btn.google__btn {
    background: #5b90f0;
    color: white;
    box-shadow: 0 3px 10px rgba(91, 144, 240, 0.36);
    transition: 0.2s linear;
}
.github__btn.google__btn .fa,
.google__btn.google__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}
.github__btn.google__btn:hover,
.google__btn.google__btn:hover {
    box-shadow: 0 0 0 rgba(91, 144, 240, 0);
}
.github__btn.github__btn,
.google__btn.github__btn {
    background: #25282d;
    color: white;
    box-shadow: 0 3px 10px rgba(37, 40, 45, 0.36);
    transition: 0.2s linear;
}
.github__btn.github__btn .fa,
.google__btn.github__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}
.github__btn.github__btn:hover,
.google__btn.github__btn:hover {
    box-shadow: 0 0 0 rgba(37, 40, 45, 0);
}

footer p {
    text-align: center;
}
footer p .fa {
    color: #e91e63;
}
footer p a {
    text-decoration: none;
    font-size: 17px;
    margin: 0 5px;
}
footer p a .fa-facebook {
    color: #3b5998;
}
footer p a .fa-twitter {
    color: #1da1f2;
}
footer p a .fa-instagram {
    color: #f77737;
}
footer p a .fa-linkedin {
    color: #0077b5;
}
footer p a .fa-behance {
    color: #1769ff;
}

.form-check-inline{
    display: block; 
    width: 90%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.6);
    padding: 0 0 0 15px;
    font-size: 16px;
    line-height: 48px;
}

/* .form-check-label{
    display: block; 
    width: 90%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.3);
    padding: 0 0 0 15px;
    font-size: 14px;
    
} */