.selectExercise{
    width: 200px;
    height: 20px;
}

span{
    margin:20px;
}

.exercisePrescription{
    margin:20px;
}



.aiRecommend{
    margin:20px 20px;

}

.aiRecommend span{
    font-size:23px;
    font-weight:700;
}

.airRecommend div{
    margin:20px;
}

.planIndex{
    font-weight:700;
    font-size:20px;
    margin:2%;
    margin-left:4%;
}

#aiPlan{
    margin:20px; 
    width: 180px; 
    height:25px;
}